/* Fullscreen layout for the login page */
.Login {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: inherit;
}

/* The left panel containing the login form */
.Login__panel {
  width: 40%; /* Taking 40% of the width for the login form */
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for the panel */
}

/* The right side background image */
.Login__background {
  flex: 1; /* Taking up the remaining width */
  background-image: url("/work.jpg"); /* Background image path */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Styling the content within the login form */
.Login__panel__content {
  text-align: center;
}

/* Styling the logo */
.Login__logo {
  max-width: 150px;
  margin-bottom: 20px;
}

/* Message content for instructions */
.Login__panel__content__message {
  margin-bottom: 20px;
  color: #333;
}

/* Input fields styling */
.Login__panel__content__input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #bababa;
    border-radius: 5px;
    font-size: 1rem;
  }
}

/* Checkbox styling */
.Login__panel__content__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  input {
    margin-right: 10px;
  }
}

/* Styling for the Sign In button */
.Login__panel__button {
  padding: 12px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Login__panel__button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Error message styling */
.error-message {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}